//- ----------------------------------
//- Colours
//- ----------------------------------

body {
    background: $color-back;
    color: $color-front;
}
menu.c-input {
    color: $dark-color;
}

//- Selection

::selection {
    background: $dark-bg;
    color: $dark-color;
}
.dellink:hover {
    &:after {
        color:#f00;
    }
}