//- ----------------------------------
//- Components
//- ----------------------------------

//- Components: Buttons

.button {
	@include box-shadow(10px, 14px, -7px, #276873);
	@include linearGradient($button-colour,darken($button-colour, 12%));
	border-radius:$field-border-radius;
	display:inline-block;
	cursor:pointer;
	color:$button-text;
	font-family:Arial;
	font-size:1rem;
	font-weight:bold;
	padding:.2rem 1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-right:1em;

	&:hover {
		color:$button-text;
		@include linearGradient(darken($button-colour, 12%), $button-colour);
		text-decoration:none;
	}
	&:active {
		position:relative;
		top:1px;
	}
}


//- Components: Tooltips

[data-tooltip] {
    position: relative;
    cursor: default;

    &:after {
        @include position(absolute, top, left, 125%, 50%);
        display: inline-block;
        background: $dark-bg;
        border-radius: 2px;
        color: $dark-color;
        content: attr(data-tooltip);
        font: normal normal 0.85rem $font-primary;
        opacity: 0;
        padding: 0.25em 0.5em;
        transform: translateX(-50%) translateY(-2px);
        transition: opacity 0.1s ease-out, transform 0.1s ease-out;
        visibility: hidden;
        white-space: nowrap;
        z-index: 200;
    }
    &:hover:after {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        visibility: visible;
    }
}

//- Components: Alerts

.c-alert {
    @include position(fixed, bottom, right, 1rem, 1rem);
    padding: 1rem;
    z-index: 100;
    color: $color-back;
    background: $color-front;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    display: none;

    &:before {
        content: '\00d7';
        display: inline-block;
        font-size: 1.5em;
        margin-right: 0.5em;
        transition: transform 0.05s ease;
        vertical-align: middle;
    }
    &:hover:before {
        transform: scale(1.25) translateY(0.025em);
    }

    &.c-alert--is-closing {
        transform: translateX(150%);
        transition: transform 0.2s ease;
    }
    
    &.c-alert--error {
        background: $color-error;
    }

}
