//- ----------------------------------
//- Displacy theme
//- ----------------------------------

.displacy-word {
    font-size: 1.25rem;
    color: $displacy-text;
}
.displacy-tag {
    font: 1rem $font-secondary;
    color: $displacy-tag;
}
.displacy-label {
    font: 0.85rem $font-secondary;
    color: $displacy-label;
}
.displacy-arc {
    color: $displacy-arrow;
}
.displacy-arrowhead {
    color: $displacy-arrowhead;
}
[data-format="spacy"] {
    .displacy-tag[data-tag^="NN"] {
        color: $displacy-tag-noun;
    }
    .displacy-tag[data-tag^="VB"] {
        color: $displacy-tag-verb;
    }
    .displacy-tag[data-tag^="."] {
        color: $displacy-tag-punct;
    }
    .displacy-tag[data-tag^=","] {
        color: $displacy-tag-punct;
    }
}
