//- ----------------------------------
//- Layout
//- ----------------------------------

.main {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 .5rem;
    @include media-m {
        padding:0 1rem;
    }
    @include media-l {
        padding:0 2rem;
    }
}

.banner {
    width: 100%;
    padding: .5rem;
    @include media-m {
        padding:1rem;
    }
    @include media-l {
        padding:2rem;
    }
}

.form {

}

.words-container,
.arcs-container {
    width:100%;
    @include media-l {
        width:50%;
        padding:0 .5rem;
        float:left;
    }
}
.pdgnButtons {
    clear:both;
    padding:1rem 0;
}

.error {
	margin:1rem 2rem;
	padding:.5rem 1rem;
	border-radius: $field-border-radius;
	display:none;
}

.block {
    margin-bottom: 2rem;

    a {
        border-bottom: 1px solid;
    }
}

//- Components: Input

.text-input {
    position: relative;
    background: $dark-bg2;
    color:$dark-color;
    padding: 0.5rem 1rem;
    border-color: $dark-bg2;
    border-radius: $field-border-radius;
}
.text-input__field {
    font: inherit;
    background: transparent;
    color: inherit;
    line-height: 1;
    width: 100%;

    &::placeholder {
        color: rgba($dark-color, 0.5);
    }

    ::selection {
        background: $dark-color;
        color: $dark-bg2;
    }
}

.text-input__button {
    font-size: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
    position:absolute;
    right:.5rem;
    top:.5rem;

}
.pdgn-search {
    @include size(1.25em);

    .loading & {
        display: none;
    }
}
.pdgn-loading {
    @include size(1.15em);
    display: none;

    .loading & {
        display: inline-block;
    }
}



