//- ----------------------------------
//- PDGN
//- ----------------------------------

#pdgn {
    padding: 0 1rem;
    h3 {
        display: block;
        padding: .5rem 0;
        clear: both;
    }
    .wordList {
        position:relative;
        clear:both;
        overflow: auto;
        @extend %clearfix;
        .wordItem {
            display:block;
            clear:both;
            background: $light-grey;
            @extend %clearfix;
            margin-top:4px;
            margin-bottom:4px;
            height:2rem;
            span {
                display: block;
                float: left;
                width: 40%;

                &.label {
                    text-align: right;
                }
                &.right {
                    text-align: left;
                }
                &.wlhandle {
                    float:right;
                    cursor: move;
                    width:2rem;
                    height:1.5rem;
                }
            }
            select {
                width: 40%;
                margin: 0 2%;
                float: left;
                border:1px solid $medium-grey
            }
        }
    }
    .arc {
        clear:both;
        background: $light-grey;
        @extend %clearfix;
        margin-top:2px;
        select {
            width: 40%;
            margin: 0 1%;
            float: left;
            border:1px solid $medium-grey;
            &.wordselect {
                width:30%;
            }
            &.arclabel {
                width:20%;
            }
            &.dir {
                width:10%;
            }
        }
    }
    .nomore {
        background:$light-grey;
    }
}
