//- ----------------------------------
//- Typograpjhy
//- ----------------------------------

body {
    font: normal normal 1rem/#{1.5} $font-primary;
}

.text-small {
    font-size: 0.85rem;
}

.text-medium {
    font-size: 1.25rem;
}

.text-large {
    font-size: 1.75rem;
}

.u-label {
    font: normal bold 1em $font-primary;
}

.u-code.u-code {
    font-family: $font-secondary;
}

.u-heading-1 {
    font: normal bold 2.75rem/#{1.375} $font-primary;
    margin-bottom: 1rem;
}
.u-heading-2 {
    font: normal bold 2rem/#{1.375} $font-primary;
    margin-bottom: 0.5rem;
}