//- ----------------------------------
//- Mixins
//- ----------------------------------

@mixin media-xl {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}
@mixin media-l {
  @media (min-width: #{$bp-l}) {
    @content;
  }
}
@mixin media-m {
  @media (min-width: #{$bp-m}) {
    @content;
  }
}

@mixin desktop {
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin position($position, $pos-y, $pos-x, $pos-y-value, $pos-x-value) {
  position: $position;
  #{$pos-y}: $pos-y-value;
  #{$pos-x}: $pos-x-value;
}
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background-color:$top;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}