//- ----------------------------------
//- Reset
//- ----------------------------------

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @media(min-width: 1200px) {
        font-size: 16px;
    }
    @media(max-width: 1199px) {
        font-size: 14px;
    }
}
body {
    @include size(100%);
    padding: 0;
    margin: 0;
    overflow: auto;
    min-height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
