//- ----------------------------------
//- Variables
//- ----------------------------------

$font-primary: Helvetica, Arial, sans-serif !default;
$font-secondary: "Input Mono Compressed", Consolas, "Andale Mono", Menlo, Monaco, Courier, monospace !default;

$color-front: #1e1935;
$color-back: #fff;
$color-subtle: #ddd;

$light-grey: #eee;
$medium-grey: #aaa;

$dark-bg: #272822;
$dark-bg2: desaturate(darken($dark-bg, 5), 10);
$dark-color: #eee;

//$theme-bg: $color-back !default
//$theme-bg2: $color-back !default
//$theme-color: $color-front !default

$field-border-radius: 0.5rem !default
$color-error: #f44d61 !default

$button-colour:#599bb3;
$button-text: #ffffff;


$displacy-text: #333333;
$displacy-arrow: #15680d;
$displacy-arrowhead: #15680d;
$displacy-label: #15680d;
$displacy-tag: #537215;
$displacy-tag-ent: #494084;
$displacy-tag-verb: #84014e;
$displacy-tag-noun: #b77b01;
$displacy-tag-punct: #87908a;


// breakpoints
$bp-xl: 1400px;
$bp-l: 1024px;
$bp-m: 768px;
